<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header>
        <h1>{{ .Header }}</h1>
    </header>
    <div class="container">
        <aside>
            {{ template "menu.html" . }}
        </aside>
        <main>
            <h2 id="formTitle">Criar Partida</h2>
            <form id="formPartida">
                <input type="hidden" id="partidaId" name="id">
            
                <div>
                    <label for="rodada">Rodada:</label>
                    <input type="number" id="rodada" name="rodada" min="1" max="38" required>
                </div>
                
                <div>
                    <label for="timeCasa">Time Casa:</label>
                    <select id="timeCasa" name="timeCasa" required>
                        <!-- Preencher com os times disponíveis via JavaScript -->
                    </select>
                </div>
            
                <div>
                    <label for="casaGols">Gols Time Casa:</label>
                    <input type="number" id="casaGols" name="casaGols">
                </div>
            
                <div>
                    <label for="timeFora">Time Fora:</label>
                    <select id="timeFora" name="timeFora" required>
                        <!-- Preencher com os times disponíveis via JavaScript -->
                    </select>
                </div>
            
                <div>
                    <label for="foraGols">Gols Time Fora:</label>
                    <input type="number" id="foraGols" name="foraGols">
                </div>
            
                <div>
                    <label for="data">Data:</label>
                    <input type="datetime-local" id="data" name="data" required>
                </div>
            
                <button type="submit">Salvar Partida</button>
            </form>
        </main>
    </div>
    <footer>
        <p>&copy; 2024 RoberCraudio. Todos os direitos reservados.</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- jQuery é necessário para o Toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="/js/helper.js"></script>
    <script src="/js/formularioPartida.js"></script>
</body>
</html>
