<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>{{ .Header }}</h1>
    </header>
    <div class="container">
        <aside>
            {{ template "menu.html" . }}
        </aside>
        <main>
            <h2>Rodada: <span id="rodadaDisplay">1</span></h2>
            <div>
                <label for="dropRodada">Escolha a Rodada:</label>
                <select id="dropRodada">
                    <!-- As opções de rodadas serão inseridas dinamicamente -->
                </select>
            </div>
            <div class="list-container">
                <table id="partidasTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Time Casa</th>
                            <th>Gols Casa</th>
                            <th>Time Fora</th>
                            <th>Gols Fora</th>
                            <th>Data</th>
                            <th>Vencedor</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- As partidas serão inseridas aqui via JavaScript -->
                    </tbody>
                </table>

                <a href="/partida/formulario">
                    <button>Criar Nova Partida</button>
                </a>            
            </div>
        </main>
    </div>
    <footer>
        <p>&copy; 2024 RoberCraudio. Todos os direitos reservados.</p>
    </footer>
    <script src="/js/helper.js"></script>
    <script src="/js/partidas.js"></script>
</body>
</html>
